html, body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

#container {
    background-color: #E3E3E3;
    overflow: hidden;
}

.center {
    display: block;
    width: 50%;
    justify-content: center;
}

.dashboard {
    position: absolute;
}

#center-object {
    display: flex;
}

video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

